.caseStudies {
    #filters {
        background-color: #00497a;
        color: white;
        padding: 1rem;
        border-radius: 0.25rem;
    }
    .form-check-input, .form-check-label {
        cursor: pointer;
    }
    .form-check-label {
        display: inline-block;
        font-size: 0.8rem;
        width: 9rem;
    }
    .status {
        font-size: 0.8rem;
    }
    .caseStudy_card {
        margin-bottom: 0.75rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--col-primary);
        display: flex;
        flex-direction: column;
        @media (min-width:768px) {
            flex-direction: row;
        }
        color: #000;
        &__image {
            width: 200px;
            height: min-content;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center;
        }
        &__content {
            padding: 0.5rem 0.5rem 0 0.5rem;
            flex: 1;
        }
        .article-title {
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
    .article {
        &-quote {
            font-style: italic;
        }
        &-attrib {
            text-align: right;
            font-weight: bold;
            font-size: 0.8rem;
        }
        &-highlights {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: 1fr;
            gap: 0.5rem;
            @media (min-width: 992px) {
                grid-template-columns: repeat(3,1fr);
            }
            div {
                background-color: var(--col-grey);
                border-radius: 0.25rem;
                padding: 0.5rem;
                display: flex;
                gap: 0.5rem;
                align-items: center;
                font-weight: bold;
                font-size: 0.8rem;
                color: var(--col-dark);
            }
        }
    }
}